<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/responsive.css">


<footer class="footer" style="background-color: #004d40; color: white; padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>ABOUT PARFUMERIE</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white;">Home</a></li>
                    <li><a href="#" style="color: white;">About Us</a></li>
                    <li><a href="#" style="color: white;">Products</a></li>
                    <li><a href="#" style="color: white;">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>GUIDE</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white;">Shopping Guide</a></li>
                    <li><a href="#" style="color: white;">Payment Guide</a></li>
                    <li><a href="#" style="color: white;">Delivery Guide</a></li>
                    <li><a href="#" style="color: white;">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>POLICIES</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white;">Purchase Policy</a></li>
                    <li><a href="#" style="color: white;">Privacy Policy</a></li>
                    <li><a href="#" style="color: white;">Delivery Policy</a></li>
                    <li><a href="#" style="color: white;">Return & Warranty Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>SUPPORT</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white;">Search</a></li>
                    <li><a href="#" style="color: white;">Login</a></li>
                    <li><a href="#" style="color: white;">Register</a></li>
                    <li><a href="#" style="color: white;">Affiliate</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>PAYMENT METHODS</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><img src="~/images/visa.jpg" alt="Visa"></li>
                    <li class="list-inline-item"><img src="~/images/mastercard.png" alt="Mastercard"></li>
                    <li class="list-inline-item"><img src="~/images/tien.png" alt="Cash"></li>
                    <li class="list-inline-item"><img src="~/images/momo.png" alt="Momo"></li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <h5>CONNECT WITH US</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>SUBSCRIBE</h5>
                <form class="form-inline justify-content-center">
                    <div class="form-group mb-2">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="email" class="sr-only">Your Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                    </div>
                    <button type="submit" class="btn btn-dark mb-2">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Parfumerie.vn | Powered by Sapo</p>
            </div>
        </div>
    </div>
</footer>

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/js/custom.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
